.news-container {
    font-size: 60px;
    margin: 7px;
}

.news-item  {
    display: flex;
    flex-direction: column;
    height: 1650px;
    color: rgba(255,255,255,0.75);
    font-family: Helvetica, sans-serif;
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
    overflow: hidden;
    background: rgba(23, 39, 65, 0.781);
    box-shadow: 0px 0px 12px rgba(0,255,255,0.5);
    border: 1px solid rgba(127,255,255,0.25);
  }

  .light-border {
    box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
    border: 1px solid rgba(127,255,255,0.75);
  }

  .news-item img {
    width: auto;
    margin-bottom: -105px;
  }

  .news-item-date {
    position: relative;
    font-size: 100%;
    text-align: right;
    padding: 20px 100px;
    background: rgba(34, 59, 97, 0.616);
    min-height: 105px;
  }

  .text-block-container {
    flex: 1 0 auto;
  }

  .news-item-text {
    position: relative;
    font-size: 80%;
    font-weight: bold;
    text-align: left;
    padding: 60px 100px 100px 100px;
    color: rgba(255,255,255,0.75);
    text-shadow: 0 0 10px rgba(0,255,255,0.95);
  }

  .hidden-letter { 
    opacity: 0; 
  }

  .show-letter {
    transition: opacity .2s ease-in-out;
    opacity: 1;
  }